* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "General Sans", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.main {
  height: 100vh;
}
.body-banner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 425px) {
  .main-left {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
  .main-left-img {
    width: 185px;
    margin: 30px 0;
  }
  .main-left-text {
    text-align: center;
  }
  .main-left-text h1 {
    font-weight: 600;
    font-size: 18px;
    color: #010101;
  }
  .main-left-text span {
    font-weight: 700;
    color: #212573;
  }
  .main-left-text p {
    font-weight: 500;
    font-size: 14px;
    margin: 18px auto;
    color: #9292a7;
  }
  .main-right {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-right-img img {
    width: 200px;
  }
  .main-right-btn {
    margin: 14px auto;
    padding: 8px 20px;
    background-color: #212573;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  .main-right-btn:hover {
    background-color: #151957;
  }
}

@media screen and (min-width: 426px) {
  .main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  .main-left-img {
    width: 280px;
    margin: 40px 0;
  }
  .main-left-text {
    text-align: center;
  }
  .main-left-text h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  .main-left-text span {
    font-weight: 700;
    color: #212573;
  }
  .main-left-text p {
    font-weight: 500;
    font-size: 20px;
    color: #9292a7;
  }
  .main-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-right-img img {
    width: 320px;
  }
  .main-right-btn {
    margin: 14px auto;
    padding: 10px 22px;
    background-color: #212573;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  .main-right-btn:hover {
    background-color: #151957;
  }
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    align-items: center;
  }
  .main-left {
    width: 55%;
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
  }
  .main-left-img {
    width: 100%;
    max-width: 380px;
  }
  .main-left-text {
    text-align: left;
  }
  .main-left-text h1 {
    font-size: 34px;
  }
  .main-left-text p {
    font-size: 18px;
  }
  .main-right {
    margin-top: 50px;
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .main-left-img {
    width: 100%;
    max-width: 420px;
  }
  .main-left-text h1 {
    font-size: 40px;
  }
  .main-left-text p {
    font-size: 22px;
  }
}
